<p id="population"><%= answer[:population] %></p>
<p id="pattern"><%= answer[:pattern] %></p>
<p id="total_plates"><%= answer[:total_plates] %></p>
<p id="excess_plates"><%= answer[:excess_plates] %></p>
