<p id="population">Population: <%= answer[:population] %></p>
<p id="pattern">Pattern: <%= answer[:pattern] %></p>
<p id="total_plates">Total Plates: <%= answer[:total_plates] %></p>
<p id="excess_plates">Excess Plates: <%= answer[:excess_plates] %></p>
