body, p, h1, h2, h3, h4, h5, h6, ul, li, form {
  margin: 0;
  padding: 0;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

p, h2, h3, h4, h5, h6 {
  margin-bottom: 18px;
}

.clear {
  clear: both;
}

#container {
  //max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 1.3em;
  display: block;
}

#header {
  margin: 0 0 25px 0;
  padding: 10px 0 25px 0;
  border-bottom: 2px solid;
  width: 100%;
}

#middle {
  width: 100%;
}

#footer {
  width: 100%;
  height: 108px;
}

.box {
  margin: 5px;
  padding: 5px;
  //background: #D8D5D2;
  font-size: 11px;
  line-height: 1.4em;
  //-webkit-border-radius: 5px;
  //-moz-border-radius: 5px;
  //border-radius: 5px;
  border-bottom: 1px solid;
}

.box img {
  display: block;
  width: 100%;
  max-width: none;
}

.box h2 {
  display: block;
  font-weight: bold;
}

#logo {
  float: left;
  width: 10%;
  height: 40px;
}

#logo img {
  height: 40px;
}

#navigation ul {
  float: left;
  list-style-type: none;
}

#navigation ul li {
  display: block;
  float: left;
  padding-right: 50px;
}

#navigation ul li strong {
  font-size: 16px;
}

#navigation ul li strong em {
  display: none;
}

.left {
  float: none;
}

.right img {
  display: none;
}

@media screen and (max-width:450px) {
  #navigation ul li {
    float: none;
    width: auto;
    height: 30px;
  }

  #navigation ul li strong {
    display: inline;
    padding: 0;
  }

  #logo {
    float: none;
    display: none;
  }
}

@media screen and (min-width:1050px) {
  .left {
    float: left;
  }

  .right {
    width: 20%;
    margin: 0 0 0 100%;
  }

  .right img {
    display: inline;
  }

  #navigation ul li {
    padding-right: 100px;
  }

  #navigation ul li strong em {
    display: block;
    font-size: 12px;
    font-style: normal;
  }

  #logo {
    width: 25%;
    height: 150px;
  }

  #logo img {
    height: 150px;
  }
}
