#container .box {
  margin: 5px;
  padding: 5px;
  background: #D8D5D2;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#container .box span {
  //position: absolute;
  font-size: 26px;
  font-weight: bold;
  //top: 200px;
  //left: 0;
  //width: 100%;
}

#container .large {
  width: 700px;
}

#container .medium {
  width: 460px;
}

#container  .small {
  width: 220px;
}

#container img {
  display: block;
  width: 100%;
  max-width: none;
}
